@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
  font-family: "DM Sans", sans-serif;
  color: #00112C;
  position: relative;
}

.container {
  padding: 15px;
  max-width: 1296px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.navbar-img {
  pointer-events: none;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFFFFF;
  max-width: 590px;
  box-shadow: 0px 4px 15px rgba(19, 19, 19, 0.06);
  border-radius: 6px;
}
@media (max-width: 1036px) {
  .search-form {
    display: none;
  }
}

.search-form__txt {
  color: #00112C;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  width: 560px;
}

.fade-block {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(34, 34, 34, 0.3215686275);
  z-index: 10;
}

.slider {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(19, 19, 19, 0.06);
  border-radius: 6px;
}

.slider-line {
  position: relative;
  width: 300%;
  display: flex;
  left: 0;
  transition: all 0.5s ease-in;
}

.slider-img {
  display: inline-block;
  width: 100%;
  height: 550px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header/slide_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-img:nth-child(2) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header/slide_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-img:nth-child(3) {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header/slide_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-img__wrap {
  display: flex;
  height: 100%;
  padding: 100px;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
  justify-content: center;
}
.slider-img__wrap h1 {
  color: #fff;
  width: 700px;
  text-transform: uppercase;
}
@media (max-width: 820px) {
  .slider-img__wrap h1 {
    width: 500px;
  }
}
@media (max-width: 450px) {
  .slider-img__wrap h1 {
    width: 300px;
  }
}
.slider-img__wrap h3 {
  color: #0ABF53;
}
@media (max-width: 820px) {
  .slider-img__wrap {
    padding: 80px;
  }
}
@media (max-width: 450px) {
  .slider-img__wrap {
    padding: 50px;
  }
}

.slide-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.slider-prev {
  background: url(../img/sloder/Arrow_l.svg);
  background-size: contain;
  background-repeat: no-repeat;
  left: 15px;
  top: 45%;
}

.slider-next {
  background: url(../img/sloder/Arrow_r.svg);
  background-size: contain;
  background-repeat: no-repeat;
  right: 15px;
  top: 45%;
}

.button {
  position: relative;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  padding: 10px 24px;
  border-radius: 6px;
  border: 2px solid #0ABF53;
  background: rgba(51, 51, 51, 0.4);
  color: #0ABF53;
}
.button:hover {
  background: #0ABF53;
  color: #fff;
}
.button:active {
  top: 1px;
}

.main__info {
  width: 100%;
  overflow-x: scroll;
  margin: 20px 0;
}

.main__info-line {
  display: flex;
  column-gap: 15px;
  width: 1618px;
}

.main__info-img {
  height: 80px;
  width: 80px;
}

.main__info-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  color: #00112C;
  border-radius: 6px;
  padding: 15px;
  text-align: center;
}
.main__info-item:hover {
  color: #626f77;
  box-shadow: 0px 4px 15px rgba(19, 19, 19, 0.06);
  background: #f5f5f5;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #0ABF53;
  border-radius: 6px;
}

.product-card__mini {
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  box-shadow: 10px 13px 15px 0px rgba(19, 19, 19, 0.06);
  border-radius: 6px;
  column-gap: 10px;
}
.product-card__mini:hover {
  background: #f5f5f5;
}

.card__img {
  width: 100px;
  height: 100px;
}

.card__description {
  width: 150px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 5px;
}

.card__description-name {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #00112C;
}

.card__price-new {
  font-size: 18px;
  color: #0abf53;
}

.card__price-old {
  opacity: 38%;
  text-decoration: line-through;
}

h1 {
  font-size: 64px;
  font-family: "DM Sans", sans-serif;
  font-weight: 750;
  line-height: 1.2;
}
@media (max-width: 820px) {
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: 32px;
  }
}

h3 {
  font-size: 48px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
@media (max-width: 820px) {
  h3 {
    font-size: 32px;
  }
}
@media (max-width: 450px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 36px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
@media (max-width: 820px) {
  h4 {
    font-size: 25px;
  }
}
@media (max-width: 450px) {
  h4 {
    font-size: 18px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
@media (max-width: 820px) {
  .nav {
    position: fixed;
    left: 24%;
    top: 91%;
    border: solid 2px #00112C;
    background: #f5f5f5;
    border-radius: 7px;
  }
}
@media (max-width: 567px) {
  .nav {
    left: 13%;
  }
}
@media (max-width: 500px) {
  .nav {
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    border: none;
    border-top: solid 2px #00112C;
  }
}

@media (max-width: 820px) {
  .nav_logo {
    display: none;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  padding: 10px 15px;
}
.navbar__item:nth-child(4) {
  display: none;
}
@media (max-width: 820px) {
  .navbar__item:nth-child(4) {
    display: block;
  }
}
.navbar__item:nth-child(5) {
  display: none;
}
@media (max-width: 820px) {
  .navbar__item:nth-child(5) {
    display: block;
  }
}
@media (max-width: 820px) {
  .navbar {
    width: 400px;
  }
}

.navbar__item {
  position: relative;
}
.navbar__item:nth-child(2)::before {
  content: "0";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: -11px;
  border-radius: 50%;
  padding: 0px 5px;
  color: #fff;
  background: red;
  z-index: -1;
}
.navbar__item:nth-child(3n)::before {
  content: "0";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 25px;
  top: -2px;
  border-radius: 50%;
  padding: 0px 5px;
  color: #fff;
  background: red;
  z-index: -1;
}

.menu {
  background: #fff;
  transition: all 0.3s ease-in;
  position: relative;
  z-index: 20;
}
@media (max-width: 820px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 20px;
    position: absolute;
    left: -500px;
    top: 0;
    background: #f5f5f5;
    height: 100vh;
    width: 300px;
    box-shadow: 10px 13px 15px 0px rgba(19, 19, 19, 0.06);
    border-radius: 6px;
  }
  .menu__close {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-image: url(../img/util/close.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 450px) {
  .menu {
    width: 100%;
    left: -500px;
  }
}

.menu--active {
  position: fixed;
  left: 0;
  top: 0;
}

.menu__top {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  row-gap: 20px;
  justify-content: center;
}
@media (max-width: 820px) {
  .menu__top {
    flex-direction: column;
  }
}

.menu__bot {
  display: none;
}
@media (max-width: 820px) {
  .menu__bot {
    display: block;
  }
}
.menu__bot-social {
  margin-top: 20px;
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
}
.menu__bot img:hover {
  filter: opacity(50%);
}

.menu__title {
  position: relative;
  display: flex;
  flex-direction: column;
}
.menu__title span {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #00112C;
}
.menu__title span:hover {
  color: #626f77;
}
.menu__title-active span {
  color: #0ABF53;
}
.menu__title-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 820px) {
  .menu__title-top {
    padding-right: 50px;
  }
}

.plus {
  height: 10px;
  width: 10px;
  background-image: url(../img/acardeon/plus.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
@media (max-width: 820px) {
  .plus {
    display: inline-block;
  }
}

.minus {
  height: 10px;
  width: 10px;
  background-image: url(../img/acardeon/minus.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
@media (max-width: 820px) {
  .minus {
    display: inline-block;
  }
}

.menu__title-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background: rgba(255, 255, 255, 0.5294117647);
  padding: 20px 30px 15px 15px;
  top: 30px;
  left: 10px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  box-shadow: 0px 4px 15px rgba(19, 19, 19, 0.06);
  border-radius: 6px;
}
@media (max-width: 820px) {
  .menu__title-info {
    position: relative;
    padding: 0;
    box-shadow: none;
    top: 10px;
    row-gap: 5px;
    background: #f5f5f5;
  }
}
.menu__title-info.hidden {
  display: none;
}

.products .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category {
  overflow: hidden;
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 15px;
  background-color: #f5f5f5;
  padding: 20px;
  z-index: 10;
  transition: all 0.3s ease-in;
  box-shadow: 10px 13px 15px 0px rgba(19, 19, 19, 0.06);
  border-radius: 6px;
}
@media (max-width: 955px) {
  .category {
    position: fixed;
    left: -500px;
    top: 0;
    height: 100vh;
    width: 300px;
  }
}
@media (max-width: 450px) {
  .category {
    width: 100%;
  }
}

.menu--active {
  position: fixed;
  left: 0;
  top: 0;
}

.category__title span {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #00112C;
}
.category__title span:hover {
  color: #626f77;
}

.category__title-active span {
  color: #0ABF53;
}

.category__title-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.category__title-top .plus {
  display: inline-block;
}
.category__title-top .minus {
  display: inline-block;
}

.category__title-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 10px;
}
.category__title-info.hidden {
  display: none;
}

.category-minus {
  height: 10px;
  width: 10px;
  background-image: url(../img/acardeon/minus.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.stuff {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 25px;
  padding: 20px;
}
@media (max-width: 820px) {
  .stuff {
    column-gap: 20px;
  }
}
@media (max-width: 500px) {
  .stuff {
    justify-content: center;
  }
}

.staff__wrap {
  width: 320px;
  padding: 10px;
  overflow-x: scroll;
}

.collection-stuff {
  width: 660px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */