.basket{
   position: absolute;
   height: 100vh;
   width: 700px;
   left: -1000px;
   top: 0;
   overflow: scroll;

   padding: 20px;

   background: #f5f5f5;
   transition: all 0.3s ease-in;
   z-index: 20;

   @media (max-width: 820px){
      height: 100vh;
      width: 300px;
   }

   @media (max-width: 450px){
      width: 100%;
      left: -500px;
   }

   .menu__close{
      content: '';
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      background-image: url(../img/util/close.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
   }
}

.basket-alert {
   color: #383d41;
   background-color: #e2e3e5;
   border-color: #d6d8db;
   position: relative;
   padding: 0.75rem 1.25rem;
   margin: 1rem 0;
   font-weight: 300;
   border: 1px solid transparent;
   border-radius: 0.25rem;

   &.hidden{
      display: none;
   }
}


.cart-total {
   border-bottom: 1px solid rgba(0,0,0,.125);
   padding: 20px 0;
}



.small {
   font-size: 1rem;
   font-weight: 300;
}
p+p{
   margin-top: 1em;
}

.total-price{
   color: #0abf53;
   font-size: 1.2rem;
   font-weight: 500;
   line-height: 1.5;
}


