h1{
   font-size: 64px;
   font-family: 'DM Sans', sans-serif;
   font-weight: 750;
   line-height: 1.2;

   @media (max-width: 820px){
      font-size: 48px;
   }

   @media (max-width: 450px){
      font-size: 32px;
   }
}

h3{
   font-size: 48px;
   font-family: 'DM Sans', sans-serif;
   font-weight: 700;
   line-height: 1.2;

   @media (max-width: 820px){
      font-size: 32px;
   }

   @media (max-width: 450px){
      font-size: 24px;
   }

}